body {
    /* background-color: #1fc8db; */
    /* background-image: linear-gradient(141deg, rgba(0, 0, 0, 0) 0%, #1fc8db 15%, rgba(0, 0, 0, .075) 55%); */
    /* background-image: radial-gradient( white, #1fc8db, white); */
    background-image: radial-gradient( white, #c9e7ea, white);
    -webkit-animation-name: slide_frmup;
    -webkit-animation-duration: .9s;
    animation-name: slide_frmup;
    animation-duration: 0.9s ease-in-out;
}

#image-engine {
    margin: 0;
    padding: 1rem;
    height: 100vh;
    overflow: hidden;
}

img {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#usr-opt {
    width: 50%;
    text-align: right;
    display: inline-flex;
    justify-content: flex-end;
}

.mr-3 {
    margin-right: 3%;
}

.subheading {
    padding: 1% 2%;
    background-color: #FFAF07;
    color: rgb(0, 0, 0);
    font-size: 15pt;
}

.subheading h3 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.panel {
    -webkit-animation-name: bgfill;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.9s;
    /* Safari 4.0 - 8.0 */
    animation-name: bgfill;
    animation-duration: 1.5s;
}

.panel-info {
    border-color: #4ec2da !important;
}
.panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid rgb(24, 23, 20); */
    -webkit-animation-name: bgfill;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.9s;
    /* Safari 4.0 - 8.0 */
    animation-name: bgfill;
    animation-duration: 2s;

}

.panel-heading h3 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    display: flex;
}

.panel-body ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.panel-body ul li {
    margin: .4rem;
    padding: .5rem;
    display: inline-grid;
    width: 48%;
    /* border:1px solid rgb(24, 23, 20); */
    -webkit-animation-name: slide_frmdwn;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .9s;
    /* Safari 4.0 - 8.0 */
    animation-name: slide_frmdwn;
    animation-duration: 0.9s ease-in-out;

}

.panel-body ul li img {
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;


}

select#mode_dir {
    max-width: 55%;
    margin-right: 1%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide_frmup {
    from {
        opacity: 0;
        transform: translate3d(0px, -100%, -100%);
    }

    to {
        opacity: 1;
        transform: translate3d(1, 1, 1);
    }
}

/* Standard syntax */
@keyframes slide_frmup {
    from {
        opacity: 0;
        transform: translate3d(0px, -100%, -100%);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide_frmdwn {
    from {
        opacity: 0;
        transform: translate3d(0px, 80px, 80px);
    }

    to {
        opacity: 1;
        transform: translate3d(1, 1, 1);
    }
}

/* Standard syntax */
@keyframes slide_frmdwn {
    from {
        opacity: 0;
        transform: translate3d(0px, 80px, 80px);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bgfill {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes bgfill {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


